doctype html
html(lang="es")
    block config
        include ../config/config
    head
        block head
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            title Blog Personal

            each style in css
                link(rel= "stylesheet", href= './assets/css/' + style)

    body(class=isIndexPage ? 'home-body' : '')
        block header
            include ../partials/header
        block content

        if !isIndexPage
            block footer
                include ../partials/footer
