.home-body {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.home-main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100%;
    background-image: url(../img/cover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-container {
    display: grid;
    grid-column: 2;
    justify-items: center;
    height: 350px;
    margin-top: 80px;

    &__text {
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 10px;
        color: #fff;

        @media screen and (max-width: 500px){
            font-size: 25px;
        }
    }

    &__link {
        background-color: #e6162e;
        display: inline-block;
        padding: 10px 20px;
        text-decoration: none;
        color: #fff;
        font-weight: 700;
        font-size: 18px;
        height: 45px;

        &:hover {
            background-color: #eb253c;
        }
    }
}